.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(16px);
    z-index: 100;
  }
  
  .logo img {
    height: 42px;
  }
  
  .links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
  }
  
  .links li {
    cursor: pointer;
    color: white;
    position: relative;
    font-weight: 500;
  }
  
  .links li::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
  }
  
  .links li:hover::after {
    width: 100%;
  }
  