.main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #feba00;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    color: #2e2e2e;
  }
  